.modal
  .modal-body
    text-align: center
  .modal-dialog
    width: 400px
    .modal-header
      border-bottom: 1.5px solid #e5e5e5
      border-top: 3px solid #2196f3
      padding: 13px
      .modal-title
        text-align: center
        text-transform: uppercase
        font-size: 14px
        letter-spacing: 0.3px
        font-weight: 700
        color: #2980b9
    .social
      text-align: center
      a
        display: flex
        margin: 0 5px
        align-items: center
        justify-content: center
        padding: 6px 12px 6px 2px
        border-radius: 50px
        background: #4d76a1
        color: white
        font-size: 11px
        letter-spacing: 0.3px
        &.fb
          background: #3b5998
        img
          width: 25px
          background: none
          padding: 0
          border-radius: 0
          margin: 0 3px
      .btn
        background: $blue_btn
        width: 170px
        margin: 0 5px
        display: inline-block
        &:nth-child(2)
          background: #1b30a7
    .modal_or
      text-align: center
      margin: 18px 0
      position: relative
      hr
        position: absolute
        top: 0
        width: 40%
        margin: 10px auto
        z-index: 0
        left: 30%
      p
        position: relative
        background: white
        width: 50px
        margin: 0 auto
        color: #dcdcdc
        font-size: 12px
    form
      text-align: center
      margin: 0 auto
      input
        display: inline-block
        width: 170px
        padding: 10px 15px
        border-radius: 50px
        background: rgba(255, 255, 255, 0.73)
        border: 1px solid #81c7ff
        margin: 0 5px
        box-sizing: border-box
        font-size: 13px
    .btn
      width: 170px
      margin: 20px auto 10px auto
    .form_lost-pass
      display: block
      text-align: center
      font-size: 13px
      color: $blue_btn
      margin: 5px 0
      cursor: pointer
.modal.testinfo
  .modal-dialog
    width: 380px
    margin-top: 80px
    .modal-body
      text-align: center
      div
        display: flex
        justify-content: space-around
        p
          margin-top: 0
      span
        color: #2980b9
        font-weight: 600
      label
        justify-content: center
        margin-bottom: 20px
      .btn
        margin: 5px auto
        cursor: pointer
        &:focus
          outline: none
          color: white
          text-decoration: none

.modal-content
  border-radius: 2px
#test_finish
  .modal-body
    text-align: center
  .modal-footer
    display: flex
    align-items: center
    justify-content: center
    margin: 0
    .btn
      width: 110px
      margin: 0 20px
      &#test-save
        background: #FF9800

.lost_pass-error
  display: none
  font-size: 12px
  color: orange

#lost_password
  input
    display: inline-block
    width: 250px
    border: 1px solid #dcdcdc
    padding: 9px 15px
    border-radius: 50px
    background: rgba(255,255,255,.65)
    margin: 15px auto 5px auto
    box-sizing: border-box
  .btn
    letter-spacing: 1px
    width: 170px
    margin: 5px auto 10px auto

.modal_owl
  position: absolute
  top: -73px
  left: 10px
  width: 33px

#registration_confirm, #lost_password
  .modal-dialog
    margin-top: 100px
    width: 350px
    p
      font-size: 13px
      margin: 0
      &:first-of-type
        margin-bottom: 5px
    span
      color: #2196F3