.modal
  .modal-dialog
    width: 400px
    .modal-header
      border-bottom: 1.5px solid #e5e5e5
      padding: 13px
      .modal-title
        text-align: center
        text-transform: uppercase
        font-size: 14px
        letter-spacing: 0.3px
        font-weight: 700
        color: #2980b9
    .social
      text-align: center
      .btn
        background: $blue_btn
        width: 170px
        margin: 0 5px
        display: inline-block
        &:nth-child(2)
          background: #1b30a7
    .modal_or
      text-align: center
      margin: 15px 0
      position: relative
      hr
        position: absolute
        top: 0
        right: 0
        width: 100%
        margin: 10px auto
        z-index: 0
      p
        position: relative
        background: white
        width: 50px
        margin: 0 auto
        color: #eee
        font-size: 13px
    form
      text-align: center
      margin: 0 auto
      input
        display: inline-block
        width: 170px
        border: none
        padding: 10px 15px
        border-radius: 50px
        background: rgba(255, 255, 255, 0.73)
        margin: 0 5px
        box-sizing: border-box
        font-size: 13px
    .btn
      width: 170px
      margin: 20px auto 10px auto
    .form_lost-pass
      display: block
      text-align: center
      font-size: 13px
      color: $blue_btn
      margin: 5px 0
.modal.testinfo
  .modal-dialog
    width: 380px
    margin-top: 80px
    .modal-body
      div
        display: flex
        justify-content: space-around
        p
          margin-top: 0
      span
        color: #2980b9
        font-weight: 600
      label
        justify-content: center
        margin-bottom: 20px
      .btn
        margin: 5px auto

.modal-content
  border-radius: 2px